/*
font-family: 'Nunito', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Poppins', sans-serif;
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #dad6d6;
}

.contenedor {
  display: flex;
}

aside {
  height: 100vh;
  background-color: #242424;
  color: #fff;
  padding: 30px 30px;
  flex: 0.5;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#navegacion {
  margin-top: 20px;
}

#navegacion label {
  font-size: 30px;
}

#principal {
  height: 100vh;
  flex: 3;
  overflow: auto;
}

.menu {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin-top: 15px;
}

.menu li {
  margin-bottom: 15px;
}

.menu li a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Nunito", sans-serif;
}

#menu_btn {
  display: none;
}

input:checked ~ ul {
  display: block;
}

#navegacion label {
  display: none;
}

#inicio h1 {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 40px;
}

#inicio h2 {
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  font-size: 32px;
}

.titulo {
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  font-size: 30px;
}

section {
  margin: 30px 0;
  padding: 20px 15px;
}

#inicio {
  margin-top: 0;
}

.social {
  list-style: none;
}

.social li {
  margin-bottom: 10px;
}

.social li a {
  text-decoration: none;
  color: black;
}

.social li i {
  margin-right: 5px;
}

#educacion {
  background-color: #575757;
  color: #fff;
}

#proyectos {
  background-color: #575757;
  color: #fff;
}

@media screen and (max-width: 920px) {
  .contenedor {
    flex-direction: column;
  }

  .menu {
    flex-direction: row;
    justify-content: space-around;
  }

  .menu li {
    margin-right: 15px;
  }
}

@media screen and (max-width: 664px) {
  #navegacion label {
    display: block;
  }

  .menu {
    display: none;
  }
}
